dev:
  # Log all events to CloudWatch
  SLACK_ENABLE_LOGGING: "true"

  # The dynamodb table to store OAuth access data
  SLACK_TABLE_NAME: tags-for-slack-teams

  # The dynamodb table to store tags
  TAGS_TABLE_NAME: tags-for-slack-tags

  # The path used to post Slack events to
  SLACK_EVENT_PATH: slack

  # The path used to install the Slack App
  SLACK_INSTALL_PATH: slack

  # The path to redirect to after an install
  SLACK_INSTALL_REDIRECT: https://slack.com

  # Verification token
  SLACK_VERIFICATION_TOKEN: "xxxxxxxx"

  # Space delimited scopes
  SLACK_CLIENT_SCOPES: "commands incoming-webhook"

  # Client ID - quotes required
  SLACK_CLIENT_ID: "xxxxxxxx.xxxxxxxx"

  # Client Secret - quotes required
  SLACK_CLIENT_SECRET: "xxxxxxxx"
